.cardS{

  background-color: rgb(253, 244, 232);
  border-width: thick;
  border-radius: 30px;
  border-color:black;


}

.cardU{

background-image: url("D:\ITP NEW CONNECTED PROJECT\admin\src\components\images\updatebackblue.png");
border-width: thick;
border-radius: 30px;
background-size: cover;



}

.cardSS{

border-style: solid;
border-color: black;
border-width: 5px;
box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
align-content: center;
margin-left: 100px;


}